src/main/app/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" 
	xmlns:wd-hr="http://www.mulesoft.org/schema/mule/wd-hr" xmlns:sap="http://www.mulesoft.org/schema/mule/sap"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.7.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.mulesoft.org/schema/mule/wd-hr http://www.mulesoft.org/schema/mule/wd-hr/current/mule-wd-hr.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">


	<flow name="mainFlow"
		doc:description="This flow is the entry point to the Template business logic.

This flow should control the direction of the application, and it should be called by the different endpoints that your Template exposes to trigger it.">
		<flow-ref name="gatherDataFlow" doc:name="Call gatherDataFlow" />
		<flow-ref name="formatOutputFlow" doc:name="Call formatOutputFlow" />
		<flow-ref name="outboundFlow" doc:name="Call outboundFlow" />
		<exception-strategy ref="defaultChoiceExceptionStrategy"
			doc:name="Reference Exception Strategy" />
	</flow>
	
	<flow name="gatherDataFlow">
		<scatter-gather doc:name="Scatter-Gather">
			<custom-aggregation-strategy
				class="org.mule.templates.transformers.OrganizationMergeAggregationStrategy" />
			<flow-ref name="workdayRetrievalMapperFlow" doc:name="Call workdayMapperFlow" />
			<flow-ref name="sapRetrievalMapperFlow" doc:name="Call sapMapperFlow" />
		</scatter-gather>
	</flow>
	
	<flow name="sapRetrievalMapperFlow">
		<processor-chain doc:name="Processor Chain">
			<sap:outbound-endpoint exchange-pattern="request-response"
				connector-ref="SAP" type="function" functionName="BAPI_PDOTYPES_GETDETAILEDLIST"
				xmlVersion="2" outputXml="true" evaluateFunctionResponse="true"
				responseTimeout="10000" doc:name="Query SAP organizations">
				<sap:definition><![CDATA[<BAPI_PDOTYPES_GETDETAILEDLIST>
 	<import>
 		<PLANVERSION>01</PLANVERSION>
 		<OBJECTTYPE>O</OBJECTTYPE>
 	</import>
 </BAPI_PDOTYPES_GETDETAILEDLIST>
 ]]></sap:definition>

			</sap:outbound-endpoint>
            <dw:transform-message doc:name="Transform SAP Organizational Unit to Map of values">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload."BAPI_PDOTYPES_GETDETAILEDLIST".tables.OBJECTS.*row map {
	EndDate : $.END_DATE,
	Id : $.OBJECT_ID,
	Name : $.LONG_TEXT
}]]></dw:set-payload>
            </dw:transform-message>

		</processor-chain>
	</flow>
	
	<flow name="workdayRetrievalMapperFlow">
		<processor-chain doc:name="Processor Chain">
			<wd-hr:get-organizations config-ref="WorkdayHumanResource"
				organizationsRequest-ref="#[new com.workday.hr.GetOrganizationsRequestType()]"
				doc:name="get Organizations from Workday" />
            <dw:transform-message doc:name="Transform Workday's Organization to Map of values">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload.responseData.organization.organizationData map {
	Name : $.name,
	EndDate : $.availibilityDate as :string {format: "yyyy/MM/dd"},
	Id : $.referenceID
}]]></dw:set-payload>
            </dw:transform-message>

		</processor-chain>
	</flow>

	<flow name="formatOutputFlow">
		<custom-transformer
			class="org.mule.templates.transformers.SortOrganizationList"
			doc:name="Custom component to sort organizations list" />
        <dw:transform-message doc:name="Transform Collection of Maps to CSV Format">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/csv header=true, quoteValues=true
---
payload]]></dw:set-payload>
        </dw:transform-message>

		<object-to-string-transformer doc:name="CSV Output Object to String" />
	</flow>
</mule>
