src/main/app/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper"
	xmlns:wd-hr="http://www.mulesoft.org/schema/mule/wd-hr" xmlns:sap="http://www.mulesoft.org/schema/mule/sap"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/wd-hr http://www.mulesoft.org/schema/mule/wd-hr/current/mule-wd-hr.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<data-mapper:config name="SAP_Organizational_Unit_to_Map_of_values"
		transformationGraphPath="sap_organizational_unit_to_map_of_values.grf"
		doc:name="SAP_Organizational_Unit_to_Map_of_values" />
	<data-mapper:config name="transform_Collection_of_Maps_to_CSV_Format"
		transformationGraphPath="transform_collection_of_maps_to_csv_format.grf"
		doc:name="transform_Collection_of_Maps_to_CSV_Format_1" />
	<data-mapper:config name="Workday_s_Organization_to_Map_of_values"
		transformationGraphPath="workday's_organization_to_map_of_values.grf"
		doc:name="Workday_s_Organization_to_Map_of_values" />

	<flow name="mainFlow"
		doc:description="This flow is the entry point to the Template business logic.

This flow should control the direction of the application, and it should be called by the different endpoints that your Template exposes to trigger it.">
		<flow-ref name="gatherDataFlow" doc:name="call gatherDataFlow" />
		<flow-ref name="formatOutputFlow" doc:name="call formatOutputFlow" />
		<flow-ref name="outboundFlow" doc:name="call outboundFlow" />
		<exception-strategy ref="defaultChoiceExceptionStrategy"
			doc:name="Reference Exception Strategy" />
	</flow>
	
	<sub-flow name="gatherDataFlow">
		<scatter-gather doc:name="Scatter-Gather">
			<custom-aggregation-strategy
				class="org.mule.templates.transformers.OrganizationMergeAggregationStrategy" />
			<flow-ref name="workdayRetrievalMapperFlow" doc:name="call workdayMapperFlow" />
			<flow-ref name="sapRetrievalMapperFlow" doc:name="call sapMapperFlow" />
		</scatter-gather>
	</sub-flow>
	
	<sub-flow name="sapRetrievalMapperFlow">
		<processor-chain doc:name="Processor Chain">
			<sap:outbound-endpoint exchange-pattern="request-response"
				connector-ref="SAP" type="function" functionName="BAPI_PDOTYPES_GETDETAILEDLIST"
				xmlVersion="2" outputXml="true" evaluateFunctionResponse="true"
				responseTimeout="10000" doc:name="query SAP organizations">
				<sap:definition><![CDATA[<BAPI_PDOTYPES_GETDETAILEDLIST>
 	<import>
 		<PLANVERSION>01</PLANVERSION>
 		<OBJECTTYPE>O</OBJECTTYPE>
 		<STARTDATE>20150101</STARTDATE>
 	</import>
 </BAPI_PDOTYPES_GETDETAILEDLIST>
 ]]></sap:definition>

			</sap:outbound-endpoint>
			<data-mapper:transform config-ref="SAP_Organizational_Unit_to_Map_of_values"
				doc:name="SAP Organizational Unit to Map of values" />
		</processor-chain>
	</sub-flow>
	
	<sub-flow name="workdayRetrievalMapperFlow">
		<processor-chain doc:name="Processor Chain">
			<wd-hr:get-organizations config-ref="WorkdayHumanResource"
				organizationsRequest-ref="#[new com.workday.hr.GetOrganizationsRequestType()]"
				doc:name="get Organizations from Workday" />
			<data-mapper:transform config-ref="Workday_s_Organization_to_Map_of_values"
				doc:name="Workday's Organization to Map of values" />
		</processor-chain>
	</sub-flow>

	<sub-flow name="formatOutputFlow">
		<custom-transformer
			class="org.mule.templates.transformers.SortOrganizationList"
			doc:name="Custom component to sort organizations list" />
		<data-mapper:transform config-ref="transform_Collection_of_Maps_to_CSV_Format"
			doc:name="transform Collection of Maps to CSV Format" />
		<object-to-string-transformer doc:name="CSV Output Object to String" />
	</sub-flow>
</mule>
